*{
    margin: 0;
    box-sizing: border-box;
}

html{
    background: linear-gradient(to right, rgb(25, 14, 184), rgba(236, 233, 8, 0.884));
    min-height: 100%;
}

.main-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.cuadro-principal{
    background-color: rgba(0, 0, 0, .5);
    border-radius: 15px;
    padding: 30px;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);*/
    width: 25%; 
}

.form-title{
    color: #ffffff;
    margin: 0 0 30px;
    padding: 0;
    text-align: center;
}

.content-inputs{
    position: relative;
}

.content-inputs input{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ffffff;
    color: #ffffff;
    margin-bottom: 30px;
    outline: none;
    padding: 10px 0;
    width: 100%;
}

.content-inputs label{
    color: #ffffff73;
    padding: 10px 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    transition: .5s;
}

.content-inputs input:focus ~ label,
.content-inputs input:valid ~ label{
    background: transparent;
    font-size: 12px;
    top: -20px;
    left: 0;
}

.boton{
    text-align: center;
}

.form_submit[type="submit"]{
    background-color: rgba(236, 233, 8, 0.884);
    border: none;
    border-radius: 5px;
    color: rgb(25, 14, 184);
    display: inline-block;
    font-size: 0.7rem;
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
    transition: all .5s;
    width: 40%;
}

.form_submit[type="submit"]:hover,
.form_submit[type="submit"]:active{
    background: linear-gradient(to right, rgb(25, 14, 184), rgba(236, 233, 8, 0.884));
    color: #fff;
}

form div.boton .form_submit[type="submit"]:active{
    transform: scale(.9);
}

@media screen and (max-width: 480px) {
    .cuadro-principal{
        width: 60%;
    }
    .form_submit[type="submit"]{
        font-size: 0.6rem;
        letter-spacing: 1px;
    }
}    